[Unit]
Description=GRACC Periodic Backup
Documentation=https://opensciencegrid.github.io/gracc
Wants=network-online.target
After=network-online.target

[Service]
User=gracc
Group=gracc
Type=oneshot
Environment=IN=%i
PermissionsStartOnly=true
ExecStart=/bin/docker run --mount type=bind,source=/etc,target=/etc gracc-backup --mount type=bind,source=/var/lib/graccarchive,target=/var/lib/graccarchive %i
TimeoutStopSec=25min

[Install]
WantedBy=multi-user.target
