[Unit]
Description=GRACC Periodic Backup
Documentation=https://opensciencegrid.github.io/gracc
Wants=network-online.target
After=network-online.target

[Service]
User=root
Type=oneshot
PermissionsStartOnly=true
ExecStart=/bin/docker run --rm -v /etc/graccarchive:/etc/graccarchive:ro -v /etc/grid-security/backup-cert:/etc/grid-security/backup-cert:ro -v /data/graccarchive:/var/lib/graccarchive gracc-backup %i 
TimeoutStopSec=25min

[Install]
WantedBy=multi-user.target
