[Unit]
Description=Run GRACC Backup for Transfer Records

[Timer]
# Explicitly declare service that this timer is responsible for
Unit=graccbackup@transfers.service

OnBootSec=1min
OnUnitActiveSec=6h
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
