[Unit]
Description=Run GRACC Backup for Raw ITB Records

[Timer]
# Explicitly declare service that this timer is responsible for
Unit=graccbackup@ps-itb.service

OnBootSec=1min
OnUnitActiveSec=6h
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
