[Unit]
Description=Run GRACC Backup for Raw Records

[Timer]
# Explicitly declare service that this timer is responsible for
Unit=graccbackup@raw.service

OnBootSec=1min
OnUnitActiveSec=6h
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
