[Unit]
Description=GRACC Periodic Backup
Documentation=https://opensciencegrid.github.io/gracc
Wants=network-online.target
After=network-online.target

[Service]
User=gracc
Group=gracc
Type=oneshot
Environment=IN=%i
PermissionsStartOnly=true
ExecStart=/bin/docker run gracc-backup %i
TimeoutStopSec=25min

[Install]
WantedBy=multi-user.target
